.row
 .col-lg-3.col-md-3
 .col-lg-6.col-md-6
  form(ng-submit="editar()")
   fieldset.form-group
    legend Editar Gestión de Tamaños
   .form-group
    label Descripcion:
    input.form-control(type='text', ng-model="editarTamano.descripcion" required)
   button.btn.btn-primary() Enviar
   a.btn.btn-info(href='#/tamano/', role="button") Volver