.row
  .col-lg-2.col-md-2
  .col-lg-8.col-md-8
    h1 Gestion de Tamaños


.row
 .panel.panel-default 
   .panel-heading Listado de Tamaños
   table.table.table-striped
    thead
     tr
      th Identificador
      th Descripcion
      th 
      th 
    tbody
     tr(ng-repeat="tamano in listaResultados")
      td
       {{tamano.id}}
      td
       {{tamano.descripcion}}
      td
       a.btn.btn-warning(role="button", href="#/tamano/editar/{{tamano.id}}") Editar
      td
       a.btn.btn-danger(role="button", ng-click="confirmarBorrado(tamano)") Borrar
.row
  .col-lg-3.col-md-3
  .col-lg-9.col-md-9
   uib-pagination.pagination-sm(ng-show='tamanos.length>numPerPage',ng-model='currentPage', total-items='tamanos.length', max-size='maxSize', boundary-links='true', force-ellipses='true',items-per-page='numPerPage')       
      
  .modal.fade#deleteDialog(role="dialog")
   .modal-dialog
    .modal-content
     .modal-header
      button.close(type="button", data-dismiss="modal")
       span &times;
      h4.modal-title Eliminar Gestion de Tamaño
     .modal-body
      p Vas a eliminar la Gestion de Tamaño: 
       b {{Btamano.descripcion}} 
       ¿Estás seguro?
     .modal-footer
      button.btn.btn-default(type="button", data-dismiss="modal") Cancelar
      button.btn.btn-danger(type="button", ng-click="borrarTamano()") Sí, bórralo
     
  .modal.fade#errorDialog(role="dialog")
   .modal-dialog
    .modal-content
     .modal-header
      button.close(type="button",data-dismiss="modal")
       spam&times;
      h4.modal-title Error en la operación
      .modal-body
       p No se ha podido eliminar la Gestion de Tamaño.
      .modal-footer
       button.btn.btn-default(type="button",data-dismiss="modal") Salir