.row
    .col-lg-2.col-md-2
    .col-lg-8.col-md-8
        h1 Gestión de Tareas
.row
 .col-lg-2.col-md-2.col-sm-2.col-xs-2
 .col-lg-8.col-md-8.col-sm-8.col-xs-8
  form.form-inline
   .form-group
    input.form-control(type="search", placeholder="Nº Horas", ng-model="buscar.horas")
    input.form-control(type="search", placeholder="Nombre", ng-model="buscar.nombre")
    button.btn.btn-primary(ng-click="listar()")
     span.glyphicon.glyphicon-search
     
.gp-info(ng-hide="actionResult == ''", ng-bind-html="actionResult")     
.row(ng-show="mostrarTabla")
  .panel.panel-default
   .panel-body(ng-if="tareas == undefined")
    p No se han encontrado resultados
    p {{error}}
   table.table.table-striped(ng-if="tareas != undefined")
    thead
     tr
      th Id
      th Nombre Tarea
      th Horas Asignadas
      th Id Grupo Tareas
      th 
      th 
    tbody
     tr(ng-repeat="tarea in listaResultados")
      td
       {{tarea.id}}
      td
       {{tarea.nombre}}
      td
       {{tarea.horas}}
      td
       {{tarea.grupoTarea.id}}
      td
       a.btn.btn-warning(role="button", href="#/GesTareas/editar/{{tarea.id}}") Editar
      td
       a.btn.btn-danger(role="button", ng-click="confirmarBorrado(tarea)") Borrar

  .modal.fade#deleteDialog(role="dialog")
   .modal-dialog
    .modal-content
     .modal-header
      button.close(type="button", data-dismiss="modal")
       span &times;
      h4.modal-title Eliminar tarea
     .modal-body
      p Vas a eliminar la tarea: 
       b {{Btarea.nombre}} 
       ¿Estás seguro?
     .modal-footer
      button.btn.btn-default(type="button", data-dismiss="modal") Cancelar
      button.btn.btn-danger(type="button", ng-click="borrarTarea()") Sí, bórralo
.row
 .col-lg-3.col-md-3
 .col-lg-9.col-md-9
  uib-pagination.pagination-sm(ng-show='tareas.length>numPerPage', ng-model='currentPage', total-items='tareas.length', items-per-page='numPerPage')   

 
 .modal.fade#errorDialog(role="dialog")
  .modal-dialog
   .modal-content
    .modal-header
     button.close(type="button",data-dismiss="modal")
      spam&times;
     h4.modal-title Error en la operación
     .modal-body
      {{errordialog}}
     .modal-footer
      button.btn.btn-default(type="button",data-dismiss="modal") Salir