.row(ng-show="mostrar")
	.col-lg-2.col-md-2.col-xs-2
	form.col-lg-6.col-md-6.col-xs-6(name="formAlta", novalidate)
		.alert.alert-danger(ng-show="error")
			.strong Error!
			|Código:{{errorMsg.errorCode}}
		fieldset.form-group
				legend Alta de proyectos
				.row
					.col-md-3.col-lg-3.col-xs-3
						label Nombre
					.col-md-6.col-lg-6.col-xs-6
						input.form-control(type="text",ng-model="data.nombre",required)
				.row
					.col-md-3.col-lg-3.col-xs-3
						label Cliente
					.col-md-6.col-lg-6.col-xs-6
								select.form-control(ng-model="data.cliente",ng-options="cliente.nombre for cliente in clientes")
			
				.row
					.col-md-3.col-lg-3.col-xs-3
						label Descripción
					.col-md-6.col-lg-6.col-xs-6
						input.form-control(type="text",ng-model="data.descripcion",required)
				.row
					.col-md-3.col-lg-3.col-xs-3
						label Fecha inicio
					.col-md-6.col-lg-6.col-xs-6
						.input-group
							p.alert-danger(ng-if="formAlta.date.$error.isDate&&formAlta.date.$touched") La fecha es invalida
							input.form-control(name="date",type='text', length,uib-datepicker-popup='{{format}}', ng-model='data.fechaInicio', is-open='popup1.opened', datepicker-options='dateOptions', ng-required='true', close-text='Close',valida-fecha)
							div(ng-show="formAlta.date.$validateDate&&formAlta.date.$dirty")
								Fecha invalida
							span.input-group-btn
								button.btn.btn-default(type='button', ng-click='openCalendar()')
									i.glyphicon.glyphicon-calendar
				input.btn.btn-primary(type="button",ng-click="crearProyecto()",value="Dar alta")
				a.btn.btn-info(href='#/proyectos', role="button") Volver

		.alert.alert-success(ng-show="!mostrar&&opSuccess")
			.strong Éxito
			|Operación completada