.ng-cloak
	h1
		|Búsqueda de proyectos
	form
		fieldset.form-group
			legend Búsqueda de proyectos
			.row
				.col-xs-4.col-lg-4.col-md-4
					label Cliente
				.col-xs-4.col-lg-4.col-md-4
					label Nombre
				.col-xs-4.col-lg-4.col-md-4
					label Cerrado
			.row
				.col-xs-4.col-lg-4.col-md-4
					select.form-control(ng-options="cliente.nombre for cliente in clientes", ng-model="filter.cliente")
						option(value="") Todos
				.col-xs-4.col-lg-4.col-md-4
					input.form-control(type="text",ng-model="filter.nombre",placeholder="Nombre")
				.col-xs-4.col-lg-4.col-md-4
					select.form-control(ng-model="filter.cerrado")
						option(ng-value='true') Abierto
						option(ng-value="false") Cerrado
						option(ng-selected='true',value="") Todos
			.row
				.col-sm-4.col-xs-4.col-md-4.col-lg-4
					input.btn.btn-primary.btn-block(type="button", value="Listar",ng-click="listar()")
					input.btn.btn-secondary(type="button",ng-click="filter={}",value="Limpiar")
	.row
		.col-xs-12.col-lg-12.col-md-12
			table.table-hover.table(ng-show="mostrar" )
					tr
						th
							|ID proyecto
						th
							|Cliente
						th
							|Nombre proyecto
						th
							|Fecha inicio
						th
							|Fecha fin
						th
							|Estado
						
					tr(class="listItem",ng-repeat="proyecto in proyectos")
						td(class="itemProperty")
							{{proyecto.id}}
						td(class="itemProperty")
							{{proyecto.cliente.nombre}}
						td
							{{proyecto.nombre}}
						td
							{{proyecto.fechaInicio}}
						td
							{{proyecto.fechaFin==undefined?'---':proyecto.fechaFin}}
						td
							{{proyecto.cerrado==1?'Abierto':'Cerrado'}}
						td
							a.btn.btn-warning(role="button",ng-click="editar(proyecto.id)",value="Editar") Editar
						td(class="itemAction")
							input.btn.btn-primary(type="button",ng-click="mostrarDetalle(proyecto)",value="Mostrar Detalle")							
	
	.modal.fade#errorDialog(role="dialog")
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type="button",data-dismiss="modal")
						spam&times;
					h4.modal-title Error en la operación
				.modal-body
					p No se ha podido eliminar la arquitectura.
				.modal-footer
					button.btn.btn-default(type="button",data-dismiss="modal") Salir
					
					
	.modal.fade#detalleDialog(role="dialog")
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type="button", data-dismiss="modal")
						span&times;
					h4.modal-title Detalle Proyecto
				.modal-body
					p Ver detalle del proyecto: 
					b {{data.nombre}} 
				.modal-footer
					button.btn.btn-primary(type="button", ng-click="detalle('/funcionalidades/')") Funcionalidades
					button.btn.btn-primary(type="button", ng-click="detalle('/estimacion/')") Estimacion
					button.btn.btn-primary(type="button", ng-click="detalle('/entregas/')") Entregas
					button.btn.btn-danger(type="button", data-dismiss="modal") Cancelar