html
  head
    title Detalle del proyecto
  body
    u
     h1 Mostrando detalle del proyecto
   nav
    label(ng-model="data") 
      h2 Nombre:{{data.nombre}}
      nav
          ul
            li
              a(href='#/funcionalidades') 
                h3 Gesti贸n de Funcionalidades
            li 
              a(href='#/estimacion') 
                h3 Gesti贸n de Estimaci贸n
            li
              a(href='#/entregas') 
                h3 Gesti贸n de Entregas 
                
            a.btn.btn-info(href='#/proyectos', role="button") Volver        