// Búsqueda de clientes
.row
    .col-lg-8.col-md-8.col-lg-offset-2.col-md-offset-2
        h1 Búsqueda de clientes
.row
    .col-lg-8.col-md-8.col-lg-offset-2.col-md-offset-2
        .input-group
            input.form-control(type="search", placeholder="Buscar", ng-model="termino")
            span.input-group-btn
                button.btn.btn-primary(ng-click="buscar()")
                    span.glyphicon.glyphicon-search
       

.gp-info(ng-show="actionResult.status != ''")
    .alert.alert-success(ng-show="actionResult.status == 'ok' && mode != 'list'")
        p {{actionResult.okMsg}}
    .alert.alert-danger(ng-show="actionResult.status == 'ko'")
        p {{actionResult.koMsg}}
        p Error {{actionResult.errorCode}}: {{actionResult.errorMsg}}

// Resultado de la búsqueda
.row(ng-show="mostrarTabla")
    .col-lg-12.col-md-12
        .panel.panel-default
            .panel-heading Resultados de la búsqueda

            .panel-body(ng-if="resultados == ''")
                p No se han encontrado resultados
            
            table.table.table-striped(ng-if="resultados != ''")
                thead
                    tr
                        th Identificador
                        th Nombre
                        th Descripción
                        th Arquitecturas
                        th
                        th
                tbody
                    tr(ng-repeat="row in pagina")
                        td {{row.id}}
                        td {{row.nombre}}
                        td {{row.descripcion}}
                        td {{row.arquitecturas.length}}
                        td 
                            a.btn.btn-warning(role="button", href="#/clientes/editar/{{row.id}}") Editar
                        td 
                            a.btn.btn-danger(role="button", ng-click="borrar(row.id)") Borrar
        
        uib-pagination.pagination-sm(ng-model='currentPage', total-items='resultados.length', items-per-page='numPerPage'
        ng-show='resultados.length > numPerPage')

        // Diálogo de confirmación.
        .modal.fade#deleteDialog(role="dialog")
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type="button", data-dismiss="modal")
                            span &times;
                        h4.modal-title Eliminar cliente
                    .modal-body
                        p Vas a eliminar el cliente. ¿Estás seguro?
                        input(type="hidden", id="oculto")
                    .modal-footer
                        button.btn.btn-default(type="button", data-dismiss="modal") Cancelar
                        button.btn.btn-danger(type="button", ng-click="confirmarBorrar()") Sí, bórralo
