script(src="../bower_components/jquery/dist/jquery.js")
script(src="../bower_components/angular/angular.js")
script(src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js")
script(src="../bower_components/angular-animate/angular-animate.js")
script(src="../bower_components/angular-cookies/angular-cookies.js")
script(src="../bower_components/angular-resource/angular-resource.js")
script(src="../bower_components/angular-route/angular-route.js")
script(src="../bower_components/angular-sanitize/angular-sanitize.js")
script(src="../bower_components/angular-touch/angular-touch.js")
script(src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js")
script(src="scripts/app.js")
//script(src="scripts/general/requests.js")
script(src="scripts/JSONRequestDispatcher.js")
script(src="scripts/controllers/itemsControllers.js")
script(src="scripts/controllers/gruposTareas.js")
script(src="scripts/controllers/main.js")
script(src="scripts/controllers/client.js")
script(src="scripts/controllers/tecnologias.js")
script(src="scripts/controllers/controllersARQ.js")
script(src="scripts/controllers/GestionTareasControllers.js")
script(src="scripts/controllers/GesTamanosControler.js")
script(src="scripts/controllers/GesPersonasControler.js")
script(src="scripts/controllers/complejidades.js")
script(src="scripts/controllers/client.js")
script(src="scripts/controllers/asignaciones.js")
//script(src="scripts/controllers/grupoTareas.js")
script(src="scripts/itemsApp.js")
script(src="scripts/GesTareas.js")
//script(src="scripts/GruposTareas.js")
script(src="scripts/controllers/roles.js")
//script(src="scripts/GesPersonasApp.js")
script(src="scripts/controllers/proyectosControllers.js")
script(src="scripts/controllers/entregasController.js")
