ul.nav.nav-pills.nav-stacked
  li.active 
    a(href="#") Inicio
  li.dropdown
    a(href="") Clientes
      span.caret
    ul.dropdown-menu       
      li
        a(href="#/clientes/") Buscador
      li
        a(href="#/clientes/alta") Alta